body {
  margin: 0 auto;
  background-color: #282a36;
  font-family: monospace;
  text-align: center;
  align-items: center;
}

main {
  object-fit: contain;
  padding-top: 6rem;
  padding-bottom: 3rem;
  margin: auto;
  background-color: #282a36;
  color: #ddd;
  max-height: 50%;
  max-width: 60%;
}

form {
  margin-top: 2rem;
}

img {
  border-radius: 5%;
  object-fit: contain;
  margin-top: 3rem;
  margin-bottom: 3rem;
  max-width: 40%;
  max-height: 40%;
}

input[type=submit] {
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #fff;
}
